.ButtonSubmitStyles {
    background-Color: green;
    border-color: black;
    border-radius: 10%;
    color: white;
    height: 40px; 
    width: 140px;
    font-size: 0.9rem;
    white-space: normal;
}

.ButtonCancelStyles {
    background-Color: red;
    border-color: black;
    border-radius: 10%;
    color: white;
    height: 40px; 
    width: 140px;
    font-size: 0.9rem;
    white-space: normal;
}

.ButtonChargeStyle {
    background-color: blue;
    border-color: black;
    color: white;
    border-radius: 10%;
    font-size:larger;
    height: 30px;
    width: 100px;
}

.ButtonChargingStyle{
    background-color: gray;
    border-color: black;
    color: black;
    border-radius: 10%;
    font-size:medium;
    height: 30px;
    width: 100px;
}

.Padded {
    padding: 25px 50px;
}