.tw-follower-card{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
}

.tw-follower-card-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-follower-card-info{
    display: flex;
    flex-direction: column;
}

.tw-follower-card-infousername{
    opacity: .6;
}

.tw-follower-card-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-follower-card-button{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    width: 140px;
}

.tw-follower-card-button.is-following{
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
}

.tw-follower-card-button:hover{
    background-color: #09f;
    transition: .3s ease background-color;
}

.tw-follower-card-button.is-following:hover{
    background-color: rgb(255,102,102);
    color: red;
    border: 1px solid red;
    transition: .3s ease background-color;
}

.tw-follower-card-button.is-following:hover .tw-follower-card-stopFollow{
    display: block;
}
.tw-follower-card-stopFollow{
    display: none;
}

.tw-follower-card-text{
    display: block;
}

.tw-follower-card-button.is-following:hover .tw-follower-card-text{
    display: none;
}